/*.header{*/
    /*background: red;*/
/*}*/
.body{
    /*background: green;*/
}
/*.sidebar{*/
    /*background: blue;*/
/*}*/
/*.footer{*/
    /*background: magenta;*/
/*}*/

.no-padding{
    padding: 0!important;
}
.no-padding-left{
    padding-left: 0!important;
}
.no-padding-right{
    padding-right: 0!important;
}
.no-padding-top{
    padding-top: 0!important;
}
.no-padding-bottom{
    padding-bottom: 0!important;
}
